
table {
    border: 1px solid lightgray;
    border-radius: 5px;
}

td {
    padding: 10px;
    
}

tr:first-child {
    background-color: rgb(240, 132, 132);
    color: rgb(156, 2, 161);
}

td:last-child {
    background-color: rgb(205, 150, 236);
}
